body {
    font-family: 'Roboto', sans-serif;
}

/*HERO section*/

header {
    color: #f9faf8;
    font-weight:700;
    font-size: 24px;
}
.logo-links {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 60px;
    align-items: baseline;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5e7eb;
}

.header-hero {
    background-color: #1f2937;
    color: #E5e7eb;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-main-subtext {
    color: #f9faf8;
    font-size: 18px;
}

.media-content {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    gap: 25px;
}

.hero-button {
    background: #3882F6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 25px;
    border: none;
}

/*random info section*/

h2,
.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #1f2937;
}

h2 {
    font-size: 36px;
}
.container {
    gap: 10px;
    padding-bottom: 100px;
    text-align: center;
}

.imgs {
    border-radius: 15px;
    border: 3px solid #3882F6;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.card1,
.card2,
.card3,
.card4 {
    max-width: 150px;
}

/*quote section*/

.quote {
    background-color: #E5e7eb;
    padding: 30px 150px;
    display: flex;
    justify-content: center;
}

.quote1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    max-width: 750px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    color: #1f2937;
}

/*call to action*/
.c2a {
    display: flex;
    justify-content: center;
    padding: 50px;
    color:#f9faf8;
    
}

.c2a-border {
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 10px;
    padding: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.call {
    font-size: 20px;
    font-weight: 750;
}
